.videoFooter {
  position: relative;
  margin-left: 20px;
  bottom: 100px;
}

.videofooter_text {
  position: absolute;
  bottom: 0;
  color: white;
  display: flex;
  margin-bottom: 20px;
}

.videofooter_text h3 {
  margin-left: 10px;
  padding-bottom: 20px;
}

.videofooter_text h3 button {
  color: white;
  font: weight 900;
  text-transform: inherit;
}

.videoFooter_ticker .ticker {
  width: 60%;
  margin-bottom: 20px;
  margin-left: 30px;
  height: fit-content;
}

.videoFooter_ticker h1 {
  padding-top: 7px;
  font-size: 15px;
  color: white;
}

.videoFooter_icon {
  position: absolute;
  left: 5px;
  color: white;
  padding-top: 5px;
}

.videoFooter_actions {
  display: flex;
  position: absolute;
  width: 95%;
  color: white;
  justify-content: space-between;
}

.videoFooter_actionsLeft > .MuiSvgIcon-root {
  padding: 0 10px;
}

.videoFooter_actionsRight {
  display: flex;
}

.videoFooter_stat {
  display: flex;
  margin-right: 10px;
  align-items: center;
}

.videoFooter_stat p {
  margin-left: 3px;
}
